// Colors
$color-primary: #192a3d;
$color-light: #3a4f66;
$color-dark: #222;
$color-hover: #1559ed;
$background-primary: #fafbfc;
$background-secondary: #f2f5f7;
$background-black: #111;
$background-selection: #5c93f7;

// Fonts
$font-primary: "Cormorant Garamond", serif;
$font-secondary: "Montserrat", sans-serif;
$font-article: "Nunito Sans", sans-serif;
