RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [OR,NC]
RewriteCond %{HTTPS} off  
RewriteRule ^(.*)$ https://mh-info.fr/$1/ [R=301,L]

RewriteRule ^en/ - [L]
RewriteRule ^fr/ - [L]

RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^ /fr%{REQUEST_URI} [L]

RewriteCond %{HTTP:Accept-Language} ^en [NC]
RewriteRule ^ /en%{REQUEST_URI} [L]